    font-family: 'Noto Sans KR','Noto Sans SC','Apple Gothic','Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7em;
    letter-spacing: -.30px;
    color: #686868;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
